/* body{
  background-color: red !important;
} */
body{
    padding-top: 25px !important;
  }
  l {
    list-style-type: none;
    background-color: #000066;
    overflow: hidden;
    padding: 1em;
    text-align: center;
  }
  
  li {
    display: inline;
    word-spacing: 8em;
    text-align: center;
  }
  
  li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 1em;
    letter-spacing: 0.08em;
    font-family: 'Lato', sans-serif;
    word-spacing: .3em;
  }